* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ball-left: 0;
    --ball-top: 0;
    --pad-left: 0;
    --power-up-left: 0;
    --power-up-top: 0;
}

body {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-image: url("../img/bg.gif");
    background-size: cover;
    overflow: hidden;
}

