@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tourney", cursive;
}

:root {
  --ball-left: 0;
  --ball-top: 0;
  --pad-left: 0;
  --power-up-left: 0;
  --power-up-top: 0;
}

body {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/background.jpg");
  background-size: cover;
  overflow: hidden;
}

.startbtn {
  height: 23%;
  width: 100%;
  position: absolute;
  bottom: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 600px;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
}
.modal.active {
  display: flex;
}

.title {
  color: #88ff55;
  font-size: 4rem;
  text-align: center;
}

.titlediv {
  width: 100%;
  display: flex;
  position: absolute;
  top: 30%;
  justify-content: center;
}

.startbtn {
  display: flex;
  justify-content: space-evenly;
}

.play-text, .top-score-text {
  font-size: 4rem;
  cursor: pointer;
}

.play-text, .top-score-text {
  color: #cfff00;
  text-shadow: 0 0 20px #cfff00;
}

.play-text:hover, .top-score-text:hover {
  font-size: 4.5rem;
  color: #daff45;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 10px;
  width: 1000px;
  height: 550px;
  box-shadow: 0 0 50px #e17c2e;
}

.modal-c1 {
  background-image: url("../../img/bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/* GAME BOARD */
#gameBoard {
  width: 1000px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bricks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem;
}

.brick {
  width: 12.5%;
  height: 30px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px #cfff00;
  border: 1px solid #cfff00;
  margin: 4px;
}

.brick-pink {
  box-shadow: inset 0 0 20px #ef45de;
  border: 1px solid #ef45de;
}

.broken {
  visibility: hidden;
}

.pad {
  position: absolute;
  width: 150px;
  height: 10px;
  box-shadow: inset 0 0 20px #ffffff;
  border-radius: 1000px;
  bottom: 4rem;
  left: calc(var(--pad-left) * 1px);
}

.ball {
  position: absolute;
  height: 4vh;
  width: 4vh;
  border-radius: 100%;
  background-image: url("../../img/ball.png");
  background-position: center;
  background-size: 100%;
  top: calc(var(--ball-top) * 1px);
  left: calc(var(--ball-left) * 1px);
}

.statistic {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  bottom: 0;
  padding: 2rem;
}

.statistic img, span {
  vertical-align: middle;
}

#gameBoard.hide {
  display: none;
}

.intro {
  width: 1000px;
  height: 600px;
  display: flex;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  color: white;
  padding: 1rem;
}
.intro.hide {
  display: none;
}
.intro .item {
  border: 1px solid rgb(5, 114, 209);
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgb(5, 114, 209);
  display: none;
}
.intro .item * {
  display: none;
}
.intro .item.active {
  display: block;
}
.intro .item.active * {
  display: block;
}
.intro .item .character {
  position: absolute;
  right: 5%;
  bottom: 0;
}
.intro .control {
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 1%;
}
.intro .control button {
  border-color: white;
  margin: 0 1rem;
  background-color: transparent;
  padding: 0 1.5rem;
  opacity: 0.7;
  transition: 0.4s;
  cursor: pointer;
}
.intro .control button img {
  width: 30px;
}
.intro .control button:hover {
  box-shadow: 0 0 20px rgb(5, 114, 209);
  opacity: 1;
}
.intro .skip {
  right: 2%;
  position: absolute;
}
.intro .skip a {
  color: white;
  text-decoration: none;
}
.intro .skip a img {
  width: 16px;
  vertical-align: middle;
}
.intro .skip a:hover {
  text-decoration: underline;
}

.modal-notify {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.modal-notify.hide {
  display: none;
}
.modal-notify .modal-body {
  width: 400px;
  border-radius: 10px;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(210, 242, 242) 45%, rgb(185, 240, 240) 71%, rgb(0, 255, 250) 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 2rem;
  text-align: center;
}
.modal-notify .modal-body h1 {
  color: rgb(25, 160, 25);
  font-size: 46px;
  font-weight: bold;
}
.modal-notify .modal-body .rate {
  padding: 1rem 0;
}
.modal-notify .modal-body .rate img {
  margin: 0 1rem;
}
.modal-notify .modal-body .info {
  font-size: 26px;
  color: gray;
  font-weight: bold;
}
.modal-notify .modal-body .control {
  padding: 2rem 0 0 0;
}
.modal-notify .modal-body .control button {
  border: 5px solid #74EFFE;
  background-color: #0099E1;
  border-radius: 100%;
  padding: 10px;
  margin: 0 0.5rem;
  max-height: 60px;
  cursor: pointer;
  opacity: 0.7;
}
.modal-notify .modal-body .control button img {
  width: 30px;
  height: 30px;
}
.modal-notify .modal-body .control button.next, .modal-notify .modal-body .control button.restart {
  padding: 10px 1.5rem;
  border-radius: 1000px;
}
.modal-notify .modal-body .control button:hover {
  opacity: 1;
}
.modal-notify .modal-body .control button:hover img {
  transform: scale(1.1);
}
.modal-notify .modal-body .control button.restart {
  display: none;
}
.modal-notify .modal-body.lose h1 {
  color: red;
}
.modal-notify .modal-body.lose .rate {
  display: none;
}
.modal-notify .modal-body.lose .control button.next {
  display: none;
}
.modal-notify .modal-body.lose .control button.restart {
  display: inline;
}
/*# sourceMappingURL=main.css.map */